<a class="tile" href="{{ .Permalink }}"><div class="post"
{{ with .Resources }}
    {{ with .GetMatch "{thumbnail.jpg}" }}
         {{ $cover := .Resize "500x" }}
         {{ with $cover }}
               style="background-image:url('{{ .Permalink }}');background-size:cover;"     
         {{ end }}
    {{ end }}
    {{ end }}
    /><span>{{ .Title }}</span>
    <div class="bottomright">
      {{ $cat := .Params.categories }}
      {{ with (in $cat "Taiwan") }}
      🇹🇼
      {{ end }}
      {{ with (in $cat "Singapore") }}
      🇸🇬
      {{ end }}
      {{ with (in $cat "Austria") }}
      🇦🇹
      {{ end }}
      {{ with (in $cat "Hungary") }}
      🇭🇺
      {{ end }}
      {{ with (in $cat "United States") }}
      🇺🇸
      {{ end }}
      {{ with (in $cat "Iran") }}
      🇮🇷
      {{ end }}
      {{ with (in $cat "Myanmar") }}
      🇲🇲
      {{ end }}
      {{ with (in $cat "Philippines") }}
      🇵🇭
      {{ end }}
      {{ with (in $cat "North Korea") }}
      🇰🇵
      {{ end }}
      {{ with (in $cat "Laos") }}
      🇱🇦
      {{ end }}
      </div>
  </div>
</a>
