<header>
  <nav>
     <div class="left">
     {{ if .IsPage }}{{ with .PrevInSection }}
     <a href="{{ .Permalink }}" title="Previous post: {{ .Title }}"><</a>
     {{ end }}{{ end }}
     </div>
        <ul class="menu">
          <li class="dropdown"><a class="top" href="/">{{ $.Site.Title }}</a>
           <ul class="dropdown__menu" id="sweets-dropdown">
              <li class="tag"><a title="Everything" href="/">Everything</a></li>
              {{ range .Site.Taxonomies.categories }}
              <li class="tag"><a title="{{ .Page.Title }}" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
              {{ end }}
          </ul></li>
        </ul>
        <div class="right">
          {{ with .NextInSection }}
          <a href="{{ .Permalink }}" title="Next post: {{ .Title }}">></a>
          {{ end }}
        </div>
    </nav>
    </header>
